.navbar.affix {
  
    width: 100%;
    top: 0;
    z-index: 999;
  
}

.img-brand {
  
  margin: 12px 0;
    
}

.nav > li > a {
  
  position: relative;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  
}

.navbar-header-home {
  
  margin: 18px 15px 15px 15px;
  
}