/*  TYPOGRAPHY
-------------------------------------------------- */

// Smooth fonts on Mac

body {
  
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin-top: 4.5em;
  
}


// BLOCKQUOTES

blockquote {
  
  background-color: $brand-light;
  
}


//

.sidebar { 
  
  padding-left: 1.5em;
  
  h3 {
    
    font-size: $font-size-h3 - 9;
    border-bottom: 4px solid $brand-primary;
    line-height: 2;
    margin-top: 5px;
    
  }
  
  h4 {
    
    font-size: $font-size-h4 - 4;
  }
  
  li {
    
    margin-bottom: 12px;
  }
  
  @media screen and (max-width: $screen-xs) {
    
    padding-left: 0;
    
  }
  
}


a {
  
  background-color: $brand-primary;
  
}

p {
  
  font-size: 25px;
  
}

.breadcrumb {
  
  margin-top: 1em;
  
}

@media (min-width: 768px){
  
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}