<% wrap_layout :layout do %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <article>
         <header class="page-title post-title">
          <h1><%= current_article.title %></h1>
          <span class="post-meta">By Andrew Duckworth on <%= current_article.date.strftime('%B %e, %Y') %></span>
        </header>
        <section class="post-boby">
          <%= yield %>
        </section>
      </article>
    </div>
    
    <div class="col-md-4">
      <aside>
      
      </aside>
    </div>
  </div>
</div>
<% end %>