---
title: Andrew Duckworth
---

  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <header class="page-title">
            <h1>Page header</h1>
            <p class="lead">subtitle</p>
          </header>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Page header</li>
      </ol>
    </div>
    
    <div class="col-md-8">
      <p class="lead">The Arts in Health team at Sheffield Teaching Hospitals run a weekly programme of arts &amp; crafts sessions delivered by a dedicated team of arts activity volunteers, an arts coordinator and arts activity project leaders.&nbsp;</p>
      <p>The sessions are designed to give patients who are recovering from life changing injuries, illnesses or surgery - including elderly patients with dementia - a chance to learn new skills, enjoy each other’s’ company and be distracted from pain or discomfort.&nbsp; Patients frequently tell us that the sessions are friendly, inclusive, calming and fun. &nbsp;</p>
      <p>We also run a monthly music programme that brings entertainment and light relief to our patients. All the musicians are professionally trained and highly skilled in engaging patients within their performances. It is a joy to watch patients and staff join in.</p>
      <p>A recent study showed that patients who took part in the arts activities of Sheffield Teaching Hospitals experienced a 'significant 20% improvement in mood and significant reduction in levels of anxiety'.&nbsp;&nbsp;</p>
      <p>Arts in Health also work to improve the physical environment within our hospitals. In 2015 we completed over 15 ward refurbishments. Arts in Health advise on interior design solutions and works closely with staff and patients to commission artists to create artworks for wards and public spaces.</p>
    </div>
    
    <div class="col-md-4">
      <aside class="sidebar"> 
        <h3>Sidebar title</h3>
        <p>This is where the things live</p>
      </aside>
    </div>
    
  </div>
  
  
  
</div>